.header_dash {
	background-color: #11cdef;
	img{
		max-width: unset !important;
	}
	ul {
		li {
			padding-left: 1.2rem;
			padding-right: 1.2rem;
			@media screen and (max-width: 639px) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		li:nth-child(1) {
			div {
				padding-bottom: 0;
			}
		}
		li:not(:first-child) {
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	.bell-icon {
		&::after {
			content: '';
			display: none;
			border-color: transparent transparent white transparent;
			top: 12px;
			right: 13px;
			position: absolute;
			border-style: solid;
			border-width: 16px;
			z-index: 10;
		}
		&::before {
			content: '';
			background-color: transparent;
			height: 20px;
			width: 47px;
			top: 23px;
			right: 5px;
			position: absolute;
			z-index: 10;
		}
		&:hover {
			&::after {
				display: block;
			}
			.popup {
				display: block;
			}
		}
		.popup {
			width: 420px;
			display: none;

			box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15),
				0 5px 15px rgba(0, 0, 0, 0.1);

			.popup-wrapper {
				max-height: 360px;
				overflow-y: scroll;
				&::-webkit-scrollbar {
					width: 0.3rem;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: #ccc;
					border-radius: 3rem;
				}
			}
			ul {
				li {
					padding: 0;
				}
			}

			@media screen and (max-width: 767px) {
				left: 0;
			}
			@media screen and (max-width: 539px) {
				width: 340px;
				left: -62px;
			}
		}
	}
}
.btn-filter {
	user-select: none;
	color: #5e72e4;
	cursor: pointer;
	font-size: 0.75rem;
	border-radius: 4px;
	background-color: white;
	padding: 0.3rem 0.5rem;
	box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	transform: translateY(0);
	&:hover {
		transform: translateY(-1px);
		color: black;
	}
}

.card-stats {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: initial;
	border-radius: 0.375rem;
	margin-bottom: 30px;
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}
