.intro-web {
	background: url('https://mogi.vn/content/images/home/home-bg-d.jpg') no-repeat center center/cover;
	height: 28rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	.search-title {
		width: 100%;
		li {
			width: fit-content;
			font-size: 1.2rem;
			cursor: pointer;
			&.active {
				border-bottom: 3px solid #01adba;
			}
		}
	}
	li {
		color: white;
	}
	input {
		line-height: 2;
	}
	.type_intro {
		width: 100%;
		li {
			font-size: 14px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			p {
				margin-right: 4px;
				position: relative;
				span:first-child {
					color: white;
					margin-right: 8px;
				}
				&::after {
					content: ' ';
					position: absolute;
					inset: 0;
					background-color: transparent;
				}
			}
			span {
				color: #01adba;
			}

			ul {
				background-color: white;
				li {
					font-weight: 600;
					color: black;
					padding: 8px 12px;
					&:hover {
						background-color: #d9d9d945;
					}
				}
			}
		}
		.tippy_intro {
			max-height: 210px;
			overflow-y: scroll;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			&::-webkit-scrollbar {
				width: 0.4rem;
			}

			&::-webkit-scrollbar-thumb {
				background: #ccc;
			}
		}
	}
	.container-bg {
		padding-left: 4rem;
		p {
			font-weight: bold;
			color: white;
			animation: typing 10s steps(54) infinite, bblink 1s infinite;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			@keyframes typing {
				0%,
				100% {
					width: 0%;
				}
				70%,
				90% {
					width: 100%;
				}
			}

			@keyframes bblink {
				0%,
				100% {
					border-right: 6px solid transparent;
				}
				50% {
					border-right: 6px solid #01adba;
				}
			}
		}
		width: fit-content;
	}
	.intro_web-buttons {
		width: 60%;
		a{
			font-size: 18px;
			line-height: 27px;
			padding: 10px 0;
			font-weight: 600;
			border-radius: 8px;
			width: 100%;
			text-align: center;
		}
	}
}
